* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

.detailsContainer a{
    color:rgb(0, 25, 95);
    font-weight: 800;
    margin-left: 3rem;
    padding-bottom: 1rem;
   
}    
.posterDetails > h1{
    margin-top: 0.5rem;
    text-align: center;
  
}
.detailsLink{
text-decoration: none;
font-style: italic;
font-size: 1.2rem;

}
.posterDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.asideMovie {
    margin: 2rem;
    display: flex;
    flex-direction: column;

}
.detailsView{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;


}

.imgPoster >img{
object-fit: cover;    
border: 8px rgb(39, 39, 139, 0.993) solid;
border-radius: 5%;
min-width: 100%;
}

.ratings{
    margin-left: 2rem;
}

@media (min-width: 700px) {

    .asideMovie {
        flex-direction: row;
    }

    .detailsView{
        margin-left: 2rem;
        /* margin-right: 2rem; */
    }

    .imgPoster{
        text-align: center;
        margin-right: 4rem;
        max-width: 500px;
    }
.infofoMovie{
    margin-top: 2rem;
}
}